[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=gitdocker
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Git Docker
Comment=A docker to view file revisions managed by Git.
